<!--Affichage de la team  -->
<div class="team-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">La Team </h2>
            <p class="text-center">Projet fil rouge RegiStation</p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-3 item">
                <div class="box"><img class="rounded-circle" src="assets/images/alice.jpg">
                    <h3 class="name">Alice</h3>
                    <p class="title">Dev</p>
                    <p class="description">"Ouuuiiiiiiiiii"</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 item">
                <div class="box"><img class="rounded-circle" src="assets/images/samuel.jpg">
                    <h3 class="name">Samuel</h3>
                    <p class="title">Dev</p>
                    <p class="description">"Camouflage no jutsu"</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 item">
                <div class="box"><img class="rounded-circle" src="assets/images/aurel.jpg">
                    <h3 class="name">Aurélien</h3>
                    <p class="title">Dev</p>
                    <p class="description">"@Controller"</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 item">
                <div class="box"><img class="rounded-circle" src="assets/images/mat.jpg">
                    <h3 class="name">Mathieu</h3>
                    <p class="title">Dev</p>
                    <p class="description">"Est parti chercher Auguste"</p>
                    <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>

