.cal-icon{
    padding-top:0.1rem;
    font-size:1rem;
}

.ng-invalid:not(form){
    border-left:5px solid red;
}
.ng-valid:not(form){
    border-left:5px solid green;
}

.datepicker{
    overflow: visible !important;
}

.btn-es{
    margin: 0 0.2rem 0 0;
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
}

.boutons{
    float:right;
}