
  
/* Début du tableau tableau */

.rwd-table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background: rgba(0, 0, 0, 0.1);
  color: black;
}

.rwd-table tr {
  border-top: 1px solid rgb(50, 74, 94);
  border-bottom: 1px solid rgb(50, 74, 94);
  background: 	rgba(0, 0, 0, 0.01);
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background: 	rgba(0, 0, 0, 0.1);
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color:black;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color:black;
  border-radius: 1em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: rgb(50, 74, 94);
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}


#bouton-ajouter{
  width: 40px;
  height: 40px;
  float: right;
}

.bouton-modifier{
  color:#fff;
  background-image: linear-gradient(to right, #CDDFA0, #6FD08C );
 float: left;

}



@media screen and (min-width: 600px) {
  


    #btn-first{
    display: none;
   
    }
    

    
#bouton-ajouter{
  width: 40px;
  height: 40px;
}

.bouton-modifier{
  color:#fff;
  background-image: linear-gradient(to right, #CDDFA0, #6FD08C );
  margin-bottom: 10px;
}

  .rwd-table tr:hover:not(:first-child) {
    background:	#ffd05b;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}

h1 {
  text-align: center;
  font-size: 2.4em;
  color: rgb(50, 74, 94);
}
.container {
  margin-top: 10vh;
  text-align: center;
}

@-webkit-keyframes leftRight {
  0%    { -webkit-transform: translateX(0)}
  25%   { -webkit-transform: translateX(-10px)}
  75%   { -webkit-transform: translateX(10px)}
  100%  { -webkit-transform: translateX(0)}
}
@keyframes leftRight {
  0%    { transform: translateX(0)}
  25%   { transform: translateX(-10px)}
  75%   { transform: translateX(10px)}
  100%  { transform: translateX(0)}
} 

/* fin du tableau */


/* ********* */

/* Début du système de carte */


.bouton-afficher{
  color:#fff;
  background-image: linear-gradient(to right, #CDDFA0, #6FD08C );
}
.card-top{
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  background-image: url("/assets/images/station3.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.icone-info-card{
  margin-right: 5px;
}

@media screen and (min-width: 600px) {
.content{
  padding-top: 5rem;
  padding-left: 17rem;
}
.mat-elevation-z4 {
  width: 250px;
}

.card-container{
  height: 300px;
  width: 90%;
}
h2{
  color:rgb(50, 74, 94);
}
}


@media screen and (max-width: 601px) {
  .content{
    padding-top: 5rem;
    padding-left: 5rem;
  }
  .mat-elevation-z4 {
    width: 250px;
  }
  
  .images{
    display:none;
  }
  .card-container{
    height: 10%;
    width: auto;
  }

  h2{
    background-color: white;
    color:rgb(50, 74, 94);
  }
}

