
<button class="btn btn-light float-right" (click)="close();$event.stopPropagation();">X</button>
<h1 mat-dialog-title class="text-center"  cdkDrag cdkDragRootElement=".cdk-overlay-pane">Ajouter un évènement</h1>
<div mat-dialog-content>
    <form class="form-group"  #eventForm="ngForm" (ngSubmit)="ajouterEvenement(data.ac)">

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="titre">Titre</span>
            </div>
            <input type="text" class="form-control"
                aria-label="description" aria-describedby="titre" 
                placeholder="Titre de l'évènement"
                name="titre" [(ngModel)]="event.titre" #description="ngModel" required>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="type">Type</span>
            </div>
            <select class="custom-select" id="type" name="type" [(ngModel)]="event.type" required #type="ngModel">
                <option value="Révision">Révision</option>
                <option value="Inspection">Inspection</option>
                <option value="Panne">Panne</option>
                <option value="Autre">Autre</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="desc">Description</span>
            </div>
            <textarea type="text" class="form-control"
                aria-label="description" aria-describedby="desc" 
                placeholder="Description de l'évènement"
                name="description" [(ngModel)]="event.description" #description="ngModel" required></textarea>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="dateD">Date début</span>
            </div>
            <input class="text-center" [matDatepicker]="basicDatepicker" [(ngModel)]="event.date_debut" name="date_debut">
            <mat-datepicker-toggle [for]="basicDatepicker"></mat-datepicker-toggle>
            <mat-datepicker  [startAt]="aj" #basicDatepicker></mat-datepicker>
        </div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="dateF">Date fin</span>
            </div>
            <input class="text-center" [matDatepicker]="basicDatepicker2" [(ngModel)]="event.date_fin" name="date_fin">
            <mat-datepicker-toggle [for]="basicDatepicker2"></mat-datepicker-toggle>
            <mat-datepicker  [startAt]="aj" #basicDatepicker2></mat-datepicker>
        </div> 
        <button class="btn btn-success" type="submit" [disabled]="!eventForm.valid">Créer</button>
    </form> 
</div>