.bouton-envoyer{
    color:#fff;
     background-image: linear-gradient(to right, #CDDFA0, #6FD08C );
}
.card-contact{
    height: 400px;
    width:350px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}
.monTextarea{
  height: 3rem;
}
.monFormContact{
    margin-left: 30px;
    
}