.container-fluid{
    background: #ffd05b;
    margin-top: 100px;
    color:rgb(80, 111, 136);
    height: 110px; 
    text-align: center;
    list-style-type: none;
  }

  .footer-liste{
    color: rgb(80, 111, 136);
    margin-left: 100px;
  }

  .row{
    background: #ffd05b;
    color:rgb(80, 111, 136);
  }